.milestone_container {
    margin-top: 120px;
    position: relative;
    .title {

    }
    .desc {
        
    }
    .milestone_swiper {
        height: 300px;
        margin-top: 65px;
        padding-bottom: 120px;
    }
}