* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "OPlusSans Bold";
    src: url("https://s3.ap-east-1.amazonaws.com/starlinke.com/font/OPlusSans3-Bold.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "OPlusSans Regular";
    src: url("https://s3.ap-east-1.amazonaws.com/starlinke.com/font/OPlusSans3-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* swiper */
.mySwiper .swiper-pagination .swiper-pagination-bullet-active {
    width: 6px;
    height: 6px;
}
.mySwiper .swiper-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
}
.mySwiper {
    position: relative;
    --swiper-navigation-size: 30px;
    --swiper-theme-color: #182F39;
}
.mySwiper .swiper-button-next {
    transition: all .2s;
    position: absolute;
    top: 550px;
    width: 60px;
    height: 60px;
    font-size: 24px;
    border-radius: 50%;
    color: #FF8B08;
    background: rgba(255, 139, 8, 0.07);
}
.mySwiper .swiper-button-next::after {
    position: relative;
    left: 3px;
}
.mySwiper .swiper-button-next:hover {
    transition: all .2s;
    color: #ffffff;
    background: #FF8B08;
}
.mySwiper .swiper-button-prev {
    position: absolute;
    top: 550px;
    bottom: 75px;
    width: 60px;
    height: 60px;
    font-size: 24px;
    border-radius: 50%;
    color: #FF8B08;
    background: rgba(255, 139, 8, 0.07);
}
.mySwiper .swiper-button-prev::after {
    position: relative;
    right: 3px;
}
.mySwiper .swiper-button-prev:hover {
    transition: all .2s;
    color: #ffffff;
    background: #FF8B08;
}
.mySwiper .contentOne-slide {
    padding-top: 30px;
}


.milestone-Swiper {
    --swiper-navigation-size: 30px
}
.milestone-Swiper .swiper-button-prev {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border-radius: 50%;
    color: #FF8B08;
    background: rgba(255, 139, 8, 0.07);
    margin-left: 130px;
}
.milestone-Swiper .swiper-button-next {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border-radius: 50%;
    color: #FF8B08;
    background: rgba(255, 139, 8, 0.07);
    margin-right: 130px;
}
.milestone-Swiper .swiper-button-next::after {
    position: relative;
    left: 3px;
}
.milestone-Swiper .swiper-button-prev::after {
    position: relative;
    right: 3px;
}
.milestone-Swiper .swiper-button-disabled {
    display: none;
}

@media screen and (max-width: 768px) {
    .mySwiper {
        position: relative;
        height: 100%;
    }
    .mySwiper .contentOne-slide {
        padding-top: 20px;
    }
    .mySwiper .swiper-button-prev {
        position: absolute;
        top: 320px;
        bottom: 40px;
        width: 30px;
        height: 30px;
        font-size: 16px;
        border-radius: 50%;
        color: #FF8B08;
        background: rgba(255, 139, 8, 0.07);
    }
    .mySwiper .swiper-button-prev::after {
        position: relative;
        right: 2px;
        font-size: 16px;
    }
    .mySwiper .swiper-button-next {
        transition: all .2s;
        position: absolute;
        top: 320px;
        width: 30px;
        height: 30px;
        font-size: 16px;
        border-radius: 50%;
        color: #FF8B08;
        background: rgba(255, 139, 8, 0.07);
    }
    .mySwiper .swiper-button-next::after {
        position: relative;
        right: 2px;
        font-size: 16px;
    }
    .mySwiper .swiper-pagination {
        position: absolute;
        bottom: 0px;
    }


    .milestone-Swiper {
        position: relative;
    }
    .milestone-Swiper .swiper-button-prev {
        width: 30px;
        height: 30px;
        font-size: 16px;
        border-radius: 50%;
        color: #FF8B08;
        background: rgba(255, 139, 8, 0.07);
        position: absolute;
        left: 0px;
        margin-left: 0px;
    }
    .milestone-Swiper .swiper-button-next {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 16px;
        color: #FF8B08;
        background: rgba(255, 139, 8, 0.07);
        right: 0px;
        margin-right: 0px;
    }
    .milestone-Swiper .swiper-button-next::after {
        font-size: 16px;
        position: relative;
        left: 3px;
    }
    .milestone-Swiper .swiper-button-prev::after {
        position: relative;
        font-size: 16px;
        right: 3px;
    }
    .milestone-Swiper .swiper-button-disabled {
        display: none;
    }
}