.title {
    font-size: 20px;
    line-height: 26px;
    color: #3F3F3F;
    opacity: .5;
    text-align: center;
    font-family: "OPlusSans Regular";
    margin: 100px auto 60px;
}
.blogs {
    font-family: "OPlusSans Regular";
    display: flex;
    justify-content: space-between;
    margin-bottom: 260px;
    .item {
        .img {
            display: inline-block;
            width: 400px;
            height: 240px;
        }
        .textContent {
            width: 400px;
            h3 {
                width: 100%;
                color: #182F39;
                font-size: 20px;
                line-height: 26px;
                margin-top: 20px;
            }
            p {
                font-size: 14px;
                line-height: 18px;
                color: #182F39;
                opacity: .75;
                overflow: hidden; //超出的文本隐藏
                display: -webkit-box;
                -webkit-line-clamp: 2; // 超出多少行
                -webkit-box-orient: vertical;
                margin-top: 8px;
            }
        }
        .skip {
            display: inline-block;
            margin-top: 8px;
            font-size: 16px;
            line-height: 21px;
            cursor: pointer;
            color: #182F39;
            text-decoration: none;
            .arrowRight {
                margin-left: 11px;
                position: relative;
                top: 3px;
            }
        }
    }
}