@media screen and (min-width: 769px) {
    .content_container {
        width: 100%;
        height: 270px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        overflow: hidden;
        .content_img {
            display: inline-block;
            width: 100%;
            height: 450px;
        }
    }
}

@media screen and (max-width: 768px) {
    .content_container {
        width: 100%;
        height: 270px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        overflow: hidden;
        .content_img {
            display: inline-block;
            width: 100%;
        }
    }
}